body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	background: #fafafa;
	overflow-x: hidden;
}

.stretch {
	clear: both;
}

.section-1 {
	background-image: url('img/lake.jpg');
	background-size: cover;
	background-position: center;
	padding: 150px 20px 100px 20%;
}

.section-1 h1 {
	color: white;
	font-size: 3em;
	margin: 0;
}

.section-1 p {
	color: white;
	margin: 0;
	margin-left: 10%;
}

footer {
	background: #1B2024;
	text-align: center;
}

footer a {
	text-decoration: none;
	color: #fff;
	padding: 10px 40px;
	display: inline-block;
    transition: 0.8s ease;
}

footer a:hover {
    font-size: 1.1em;
}

footer b {
	color: #fff;
	padding: 10px 40px;
	display: inline-block;
}

footer a:hover {
	background: #3A4249;
}

.section-2 {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 50px 0;
    background-color: #1B2024;
    color: #fff;
}

.box {
	width: 210px;
	height: 210px;
	position: relative;
	margin: 10px;
}

.box img {
	width: 200px;
	height: 200px;
	transition: 0.6s ease-in-out;
}

.box p {
	transition: 0.6s ease-in-out;
	position: absolute;
	left: 0;
	bottom: 3px;
	width: 100%;
}

.box:hover p {
	transform: translateX(30px);
}

.box:hover img {
	transform: scale(1.2);
}


.half {
	box-sizing: border-box;
	width: 50%;
	position: relative;
	background-size: cover;
	background-position: center;
	height: 420px;
	box-sizing: border-box;
	padding: 40px;
	color: #fff;
}

.full {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.8;
}

.left {
	float: left;
	background-image: url('https://images.unsplash.com/photo-1439390916221-371302a6218d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=7b57a605eff03f165024f8a405e6b870');
}

.left-cover {
	background: #26AD60;
}

.right {
	float: right;
	background-image: url('https://images.unsplash.com/photo-1441742917377-57f78ee0e582?crop=entropy&fit=crop&fm=jpg&h=950&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=975');
}

.right-cover {
	background: dodgerblue;
}

.half p {
	text-align: center;
	opacity: 1;
	position: relative;
}

.half h1 {
	opacity: 1;
	position: relative;
}

.project {
    width: 70%;
    margin: 25px auto;
    /*border: thin solid #666666;*/
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 8px 1px #666666;
}

.project-image {
    float: left;
    width: 200px;
    height: 200px;
}

.project-content {
    width: calc( 100% - 200px );
    padding: 20px;
    box-sizing: border-box;
    float: right;
}

.project-content h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.project-links {
    text-align: center;
}

.project-links a, .project-links a:visited {
    color: black;
    text-decoration: none;
    margin: 3px 10px;
}

.underline-effect {
	position: relative;
}

hr {
    width: 50%;
    text-align: left;
    margin: 0;
    border: linear-gradient(to right, #1B2024, rgba(0, 0, 0, 0));
}

.underline-effect:after {
	display: block;
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 0;
	height: 2px;
	background-color: #1B2024;
	content: '';
	transition: width 0.2s;
}
	
.underline-effect:hover:after {
	width: 100%;
}

.section-5 {
    color: #fff;
    background-color: #1B2024;
    text-align: center;
    padding: 10px;
}



@media screen and (max-width: 850px) {
    .half {
		display: block;
		width: 100%;
	}
	
	.project-container {
		display: block;
	}
	
	.project {
		display: block;
		width: 80%;
		margin: 10px auto;
	}
	
	.project-image {
        display: none;
    }
    
    .project-content {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .link-text {
        display: none;
    }
    
    .section-1 {
        padding: 5px;
    }
    
    .section-2 {
        display: none;
    }
    
    .half h1 {
        margin-top: 0;
    }
    
    .half {
        height: auto;
    }
}